:root {
  --main-color-yellow : #FFC000;
  --main-color-gray : #D9D9D9;
  --main-color-white : #FFFFFF;
  --main-color-black-50 : #24393E;
  --main-color-black-75 : #1E1E1E;
  --main-color-black-100 : #000000;
}

.bg-yellow {
  background: var(--main-color-yellow) !important;
}

.bg-main-black-50 {
  background-color: var(--main-color-black-50) !important;
}

.bg-main-black-75 {
  background-color: var(--main-color-black-75) !important;
}

.bg-main-gray {
  background: var(--main-color-gray) !important;
}

.text-main-black-50 {
  color: var(--main-color-black-50) !important;
}

.text-black-75 {
  color: var(--main-color-black-75) !important;
}



@font-face {
  font-family: Outfit;
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: PoppinsMedium;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: MinaBold;
  src: url("./assets/fonts/Mina-Bold.ttf");
}